@import 'tailwindcss';

/* LIGHT THEME (default) */
:root {
  --background: #f8fafc;
  --foreground: #fefefe;
  --primaryText: #182032;
  --secondaryText: #64748b;
  --border: #e2e8f0;
  --borderActive: #6366f1;
  --bgActive: #eef2ff;
  --themeAccent: #4f39f6;
}

/* DARK THEME */
.dark {
  --background: #020617;
  --foreground: #0f172a;
  --primaryText: #f1f5f9;
  --secondaryText: #94a3b8;
  --border: #1e293b;
  --borderActive: #6366f1;
  --bgActive: #191e3d;
  --themeAccent: #6366f1;
}
